.App {
  text-align: center;
}

.App-header {
  padding: 50px;
  margin-bottom: 20px;
  background-color: #282c34;
  color: white;
}

.App-content input {
  width: 300px;
  height: 30px;
  box-sizing: border-box;
}

.App-content button {
  width: 80px;
  height: 30px;
  display: inline-block;
  margin-left: 20px;
}

.App-result {
  margin-top: 30px;
  color: green;
}
.input {
  outline: none;
}
.inputErro {
  border: 1px solid red
}